<ion-view view-title="Q&A!">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        这是什么鬼？
      </div>
      <div class="item item-text-wrap">
        这是基于ionic的yande.re的第三方客户端，仅仅实现了post接口，自己用的嘛，我就想下下图而已
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        下载路径在哪？
      </div>
      <div class="item item-text-wrap">
        因为我不懂java,也没找到cordova相关的目录选择的plugin,所以下载路径就硬编码在'/sdcard/Pictures'了
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        已知问题
      </div>
      <div class="item item-text-wrap">
        有个很诡异的问题，长按下载任务删除的时候，调用file-transfer的abort方法，app会crash掉，暂时无解
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        卧槽，这么多问题，敢问作者是哪路菜逼？！
      </div>
      <div class="item item-text-wrap">
        在下叶良辰，你特么这么说我叶良辰有100种方法嫩死你！！！
      </div>
    </div>
  </ion-content>
</ion-view>
